@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    color: var(--colorlight2);
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
    --colordark1: #112D4E;
    --colordark2: #3F72AF;
    --colorlight1: #DBE2EF;
    --colorlight2: #F9F7F7;
    --color1: rgba(219, 226, 239, 0.3);
}
.vid{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -9;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    z-index: 5;
}
h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: 1px;
    font-size: 2rem;
}
.tab-container{
    width: 90%;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 4rem;
}
.tab{
    cursor: pointer;
    font-size: 1rem;
    padding: 3px 7px;
    font-weight: 500;
}
.current-tab{
    background-color: var(--color1);
    border-radius: 4px;
    box-shadow: -4px 30px 35px -14px rgba(30, 30, 33, 1);
}

.weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 4rem;
    z-index: 2;
}
.btn{
    all:unset;  /*reset all button default property appereance:none; border:none; color:white;(alterenative)*/
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--colordark2);
    cursor: pointer;
    padding: 5px 20px;
}
.grant-location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    
}
.grant-location img{
    margin-bottom: 2rem;
}
.grant-location p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;

}
.grant-location p:last-of-type{
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.6rem;
    margin-bottom: 1.6rem;
    letter-spacing: 0.4px;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
.loading p{
    text-transform: uppercase;
}
.error{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    
}
.error img{
    margin-bottom: 2rem;
}
.error p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
}
.error p:last-of-type{
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.6rem;
    margin-bottom: 1.6rem;
    letter-spacing: 0.4px;
}
.click{
    position: fixed;
    right: 1%;
    top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.voice1{
    
    justify-content: center;
    align-items: center;
    display: none;
}
.voice2{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.btn1{
    padding: unset;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color1);
    cursor: pointer;
}
.btn1:hover{
    transition: all 0.4s;
    transform: sacle(1.1);
}
.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.name{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 0 0.5rem;
    margin-bottom: 0.7rem;
}
.name p{
    font-size: 1.8rem;
    
}
.name img{
    width: 23px;
    height: 18px;
}
#weather-desc{
    font-size: 1.1rem;
    font-weight: 200;
    margin-bottom: -0.3rem;
}
#weather-icon{
    width: 75px;
    height: 75px;
}
#temp{
    font-size: 1.8rem;
    font-weight: 700;
}
.parameter-container{
    display: flex;
    gap: 10px 30px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.parameter{
    width: 30%;
    max-width: 200px;
    background-color: var(--color1);
    border-radius: 5px;
    padding: 0.6rem 2rem;
    display: flex;
    flex-direction: column;
    gap: -5px;
    justify-content: center;
    align-items: center;
}
.parameter p:first-of-type{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.parameter p:last-of-type{
    font-weight: 500;
}
#search-tab{
    display:flex;
    width: 90%;
    max-width: 550px;
    gap: 0 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
    display: none;
}
#search-tab input{
    all:unset;
    width: calc(100% - 80px);
    height: 38px;
    padding: 0 20px;
    background-color: var(--color1);
    border-radius: 10px;
}
#search-tab input::placeholder{
    color: rgba(255,255,255,0.7);
}
#search-tab input:focus{
    outline: 3px solid rgba(255,255,255,0.7);
}
#search-tab .btn{
    padding: unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-direction: column;
}
.active{
    display: flex;
}
#search-tab.active{
    display: flex;
}
.remove{
    display: none;
}
.parameter:hover{
    box-shadow: -4px 40px 30px -43px rgba(30, 30, 33, 1);
    transition: all 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}
.parameter:active{
    transition: all 0.5s;
    transform: scale(1);
}






